<h1> Edit Listing </h1>

<%= form_for [@user, @listing] do |form| %>
	<%= render partial: "form", locals: {form: form} %>
<%= form.submit "Submit" %>
<% end %>

<%= button_to "Delete", user_listings_path(@user, @listing), method: :delete, data: {confirm: "Are you sure?"} %>
<!-- method: delete, is to override the 'GET' method from user_listing_path -->

<%= link_to "Back", user_listing_path(@user, @listing) %>