<h1>Listings#index</h1>
<p>Find me in app/views/listings/index.html.erb</p>



<% @listings.each do |listing| %>
	<h3><%= listing.title %></h3>
	<p><%= listing.description %></p>
	<p>RM <%= listing.price %> per night</p>
	<% listing.photos.each do |photo| %>
		<%= image_tag photo %>

	<% end %>
	<%= link_to "Edit", edit_user_listing_path(@user, listing) %>
<% end %>

