<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= link_to "Home", root_path %>

  <div id="header">
    <% if signed_in? -%>
      <%= link_to "My Profile", user_path(current_user) %>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>
  </div>

  <div id="flash"> <!-- anything with flash will be put through this thing -->
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%= value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
